*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    }
    h1{
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 30px;
    }
    nav ul{
    background-color:rgb(15, 15, 75);
    width: 100%;
list-style-type: none;
text-align: center;
}
nav ul li{
display: inline-flex;
}
nav ul li a{
text-decoration: none;
color: white;
padding: 10px;
width: 150px;
}
nav ul a:hover {
background-color: white;
color: #757575;
}

.contenido{
display: flex;
margin: 60px;
}
.secciones{
width: 80%;

}
.articulos{
padding: 40px;
}
.menu-secundario {
display: block;
color: black;
padding-right: -500px;
}
footer{
width: 100%;
height: 250px;
background-color:black;
color: white;
margin-top: 40px;
}
footer p{
text-align: center;
padding: 50px;
}
.nike{
width: 270px;
height: 1600px;
}
.nav1{
    padding-bottom: 1px;
    background-color: rgb(11, 11, 54);
}
.logo{
    width: 150px;
    margin-bottom: -100px;
}
.video1{
margin-left: 40px;
}
.s1{
    text-align: center;
    font-size: 50px;
color: black;
}
.p1{
    font-size: 20px;
    text-align: center;
}
.s2{
    font-size: 40px;
    text-align: center;
}

