.c1{
    border: 1px solid black;
    height: 200px;
    width: 800px;
    border-radius: 20px;
    margin: 50px auto;
    text-align:center;
    padding: 30px auto;
    color:black;
    font-size: 25px;
    font-family: 'Comic Neue', cursive;
text-shadow: 5px 5px 5px black;
background-color: red;
    }