.cuerpo{
background-color: blue;
}
.boton1{
background-color: aqua;
    border-radius: 20px;
    width: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px;
}
.boton2{
    background-color: aqua;
    border-radius: 20px;
    width: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px;
}
.boton3{
    background-color: aqua;
    border-radius: 20px;
    width: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px;
}
.boton4{
    background-color: aqua;
    border-radius: 20px;
    width: 90px;
    margin: 5px;
    box-shadow: 5px 5px 5px;
}